.cartEntityIcon {
  font-size: 12;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  transform: translate(-15px, -15px);
}
.cartEntityIcon2 {
  font-size: 10;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  text-align: center;
  transform: translate(-10px, 20px);
}
.cartEntityIcon3 {
  font-size: 10;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  text-align: center;
  transform: translate(-10px, -7px);
}
